<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Index</exclude>
        </testsuite>
        <testsuite name="index">
            <directory>tests/Index</directory>
        </testsuite>
    </testsuites>
</phpunit>
